@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto+Mono);
:root {
    /* Variables */
    --background-dark: #121212;
    --background-light: #1f1f1f;
    --text-color: white;

    --gradient-source: orangered, saddlebrown;
    --gradient: linear-gradient(to right, var(--gradient-source));
}

/* Header animation keyframes */
@keyframes typingText {
    from {width: 0}
    to {width: 9ch}
}
@keyframes typingCursor {
    0% {border-right-color: saddlebrown;}
    49% {border-right-color: saddlebrown;}
    50% {border-right-color: transparent;}
}


body {
    background-color: var(--background-dark);
    font-family: 'Roboto Slab', serif;
    color: var(--text-color);
    text-align: justify;
    scroll-behavior: smooth;
    margin: 1rem;
}

header {
    overflow: hidden;

    background-color: var(--background-light);
    margin: 1rem auto;
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: var(--background-light);
    margin: 1rem auto;
    border-radius: 1rem;
}

footer {
    background-color: var(--background-light);
    margin: 1rem auto;
    border-radius: 1rem;
}

/* responsivness section */
    header {
        flex-direction: column-reverse;
        > img {
            max-width: 50%;
        }
    }
    h1 {
        font-size: 4rem;
    }

@media only screen and (min-width: 600px) {
    header {
        max-width: 80%;
    }

    main {
        max-width: 80%;
    }

    footer {
        max-width: 80%;
    } 
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 992px) {
    header {
        flex-direction: row;

        > img {
            max-width: 25%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    header {
        max-width: 70%;
    }

    main {
        max-width: 70%;
    }

    footer {
        max-width: 70%;
    }
}
/* end responsivness section */

header a:link {
    text-decoration: none;
}

h1 {
    font-family: "Roboto Mono", monospace;

    margin: 1rem;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid saddlebrown;
    animation:
        typingText 2.25s steps(9) 1s 1 normal both,
        typingCursor 1060ms step-end infinite;
}
h2 {
    font-family: "Roboto Mono";
    font-size: 2.5rem;

    margin: 0;
    padding: 0;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

section, .padding {
    padding: 1rem
}

hr {
    margin:0;
    border: 0;
    background: var(--gradient);
    height: 1ex;
}

/* footer section */
#timestamp {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;
}
    #timestamp td:first-child {
        text-align: left;
    }
    #timestamp td:last-child {
        text-align: right;
    }

#copyright-notice  p {
    font-size:x-small;
    text-align: center;
    margin: 0.25rem 0;
    padding: 0;
}
/* end footer section */

/* figure section */
.figure-grid {
    margin: 1rem 0 0;
    gap: 1rem;
    display: grid;
        grid-template-columns: repeat(1, 1fr);
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
    figure img {
        margin: 1rem;
        max-width: calc(100% - 2rem);
    }
    figure {
        display: inline-flex;
        margin: 0;
        border: double 0.5ex transparent;
        border-radius: 1rem;
        background-image: linear-gradient(var(--background-light), var(--background-light)), var(--gradient);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    figure hr {
        height: 0.5ex;
        width: 100%;
        margin: auto 0;
    }
    figcaption {
        padding: 1rem;
        text-align: left;
    }
    figure a {
        color: var(--text-color) !important;
        text-decoration: none !important;
    }
/* end figure section */

p {
    margin: 0.5rem 0;
    text-align: justify;
}

ul {
    list-style-type: '🦊';
    margin: 0;
    padding-left: 2ch;
}

a:link {
    color: darkorange;
    text-decoration: none;
}
a:visited {
    color: hsl(25, 76%, 40%);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color:orangered;
    text-decoration: underline;
}   